header {
    height: 75px;
    width: 100%;
    background-color: #f5f6f7;
    color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 50%;
    min-width: 300px;
    height: 75px;
}
