input[type="checkbox"]{
    appearance: none;
}


input[type="checkbox"] {
   /* appearance: none; */
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    vertical-align: -2px;
    color: green;

}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top:-0.3em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled {
    border-color: black;
    background: #dddddd;
    color: gray;
}
