input[type="checkbox"]{
    appearance: none;
}


input[type="checkbox"] {
   /* appearance: none; */
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    vertical-align: -2px;
    color: green;

}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top:-0.3em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled {
    border-color: black;
    background: #dddddd;
    color: gray;
}

input[type="range"] {
   appearance: none;   /* Gets rid of line */
   background: rgb(186, 184, 184); 
   height: 2px;
   padding: 0;
   outline: 1px solid transparent;
}

input[type="color"] {
    border:0;
    padding: 0;
}
