/* input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */



li {
    list-style: none;
}

input[type="checkbox"]{
    appearance: none;
}


input[type="checkbox"] {
   /* appearance: none; */
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    vertical-align: -2px;
    color: green;

}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top:-0.3em;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled {
    border-color: black;
    background: #dddddd;
    color: gray;
}

input[type="range"] {
   appearance: none;   /* Gets rid of line */
   background: rgb(186, 184, 184); 
   height: 2px;
   padding: 0;
   outline: 1px solid transparent;
}

input[type="color"] {
    border:0;
    padding: 0;
}

/* Remove button to style */
input[type="file"] {
    height: 0;
    padding: 0;
    opacity: 0;
}

label[for="file"]{
    box-shadow: 1px 1px 3px #cccccc;
    background: linear-gradient(to bottom, #eeeeee, #cccccc);
    border: 1px solid darkgray;
    border-radius: 3px;
    text-align: center;
    line-height: 1em;
}

label[for="file"]:hover {
    background:  linear-gradient(to bottom, white, #dddddd);
}

label[for="file"]:active {
    box-shadow: inset 1px 1px 3px #cccccc;
}

#focused:focus {
    background-color: green;
}

select, ::picker(select) {
    appearance: base-select;
}

select {
    border: 2px solid #dddddd;
    background: #eeeeee;
    padding: 10px;
    transition: 0.4s;
}

select:hover,
select:focus {
    background: #dddddd;
}

select::picker-icon {
    color: #999999;
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: -180deg;
}

::picker(select){
    border: none;
}

option {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    
    border: 2px solid #dddddd;
    background: #eeeeee;
    padding: 10px;
    transition: 0.4s;
}

option:first-of-type {
    border-radius: 8px 8px 0 0;
}

option:last-of-type {
    border-radius: 0 0 8px 8px;
}

::picker(select){
    border-radius: 8px;
}

option:not(option:last-of-type) {
    border-bottom: none;
}

option:nth-last-of-type(odd){
    background:white;
}

option:hover,
option:focus {
    background: plum;
}

option .icon {
    font-size: 1.6rem;
    text-box: trim-both cap;
}

/* selectedcontent .icon {
    display: none;
} */

option:checked {
    font-weight: bold;
}


option::checkmark {
    order: 1;
    margin-left: auto;
    content:"☑️";
}

::picker(select) {
    opacity: 0;
    transition: all 0.4s allow-discrete;
}

:open::picker(select){
    opacity: 1;
}

@starting-style {
    :open::picker(select){
        opacity:0;
    }
}

::picker(select){
    top: calc(anchor(bottom) + 1px);
    left:anchor(10%);
}